<!DOCTYPE html>
{% comment %} this is going to make the page dynamic, based on the input by a user to the db {% endcomment %}
{% comment %} we tape into the database and call the date, tilte and test in our html skeleton {% endcomment %}
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {% comment %} for ever post in the db which we tapped in the views.py make this article {% endcomment %}
        {% for post in posts %} 
        <article>
            <time>published: {{post.published_date }}</time>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text | linebreaks }}</p>
        </article>
        {% endfor %}
    </body>
</html>
